/*
Note: i have used google fonts and icons online, and photos are offline.
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    color: #777;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 1px;
    white-space: 2px;
    color: #fff;
}
.row{
	max-width: 114rem;
    margin: 0 auto;
}
header{
    background-color: #28b485;
    height: 100vh;
    position: relative;
}
#welcome-section{
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}
#welcome-section h1{
animation: moveLeft 1s ease-out;
    font-size: 3rem;
    
}
#welcome-section p{
    animation: moveRight 1s ease-out;
    font-size: 1.8rem;
}

@keyframes moveLeft{
    0%{
       opacity: 0; 
        transform: translateX(-10rem);
    }
    80%{
         transform: translateX(1rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveRight{
    0%{
       opacity: 0; 
        transform: translateX(10rem);
    }
    80%{
         transform: translateX(-1rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

#navbar{
    list-style-type: none;
    text-align: right;
    width: 100%; 
    position: fixed;
    background-color: #888;
    top: 0;
    left: 0;
}
#navbar li{
    display: inline-block;
    margin: 2rem 5rem;
}
#navbar li a:link,
#navbar li a:visited{
    text-decoration: none;
    color: #fff;
    font-size:1.5rem;
    text-transform: uppercase;
    transition: border-bottom .2s;
    border-bottom: 2px solid transparent;
    padding-bottom: 1.5rem;
    font-weight: 400;
}
#navbar li a:hover,
#navbar li a:active{
    border-bottom: 2px solid #fff;
}
#projects{
    background-color: #fff;
    padding: 8rem 0;
}
.project-header {
	text-transform: uppercase;
    margin: 2rem 0;
    font-size: 1.8rem;
    color: #799da8;
    font-weight: 400;
}
.project-pic {
    width: 50%;
    margin: 0 auto;
    border: 2px solid lightblue;
    margin-bottom: 4rem; 
    transition: transform .3s;
}
.project-pic:hover{
    transform: scale(1.2);
}
.project-pic img{
	width: 100%;
    height:auto;
    background-color: #000;
}
.project-title {
    padding: 1rem 0;
    font-size: 1.5rem;
    color: #799da8;
    font-weight: 400;
}

.show-all:link,
.show-all:visited{
    text-decoration: none;
    display: block;
    width: 18rem;
    height: 5rem;
    margin: 0 auto ;
    background: #7ed56f;
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    border: 2px solid #90C695;
    border-radius: .6rem;
    padding-top: 1.5rem;

    transition: background-color .3s;
    text-transform: uppercase;
}
.show-all:hover,
.show-all:active{
	background-color: #4aad39;
}
.contact{
    padding: 9rem 0;
    background-color: #28b485;
}
.contact-header{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
.contact-header h1{
    font-size: 3rem;
}
.contact-header p{
    font-size:1.5rem;
}

.social-links {
    list-style: none;
    margin: 8rem 0;
}
.social-links li{
	display: inline-block;
    margin: 0 auto;
    padding-left: 4rem;
}
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    font-size: 3.5rem;
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    padding-top: 2rem;
    background-color: #cecece;
    color: #888;
    text-align: center;
    float: left;
    transition: all .3s;
    }

.social-links li a:hover,
.social-links li a:active{
    background: #fff;
}
footer{
    padding: 4rem 0;
    background: #22313F;
}
footer p {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
}
footer a{
    color: #fff;
}
